<div class="container">
    <div class="row align-items-center border" style="height: 100vh;">
        <div class="col"></div>
        <div class="col-6 text-center colores pt-5 rounded animated fadeIn" style="height: 50vh;">
            <div *ngIf="user">
                <img src="{{ user.photoUrl }}">
                <div>
                    <h4>Bienvenido: {{ user.name }}a</h4>
                    <p>{{ user.email }}a</p>
                </div>
            </div>

            <div *ngIf="!user">
                <img class="img-fluid border p-1" style="height: 10vh;" src="assets/img/avatar.svg">

                <p class="h1 text-center py-5">Bienvenido: {{ usuario }}</p>

            </div>

            <button class="btn btn-danger" (click)="signOut()">Cerrar Sesión</button>

        </div>
        <div class="col"></div>
    </div>
</div>